<!-- START COSMOSDB DEPENDENCIES -->

    <dependency>
        <groupId>com.azure</groupId>
        <artifactId>azure-spring-data-cosmos</artifactId>
        <version>${azure-spring-data-cosmos.version}</version>
    </dependency>

<!-- START COSMOSDB DEPENDENCIES -->
