<!-- START DYNAMODB DEPENDENCIES -->

    <dependency>
        <groupId>io.github.boostchicken</groupId>
        <artifactId>spring-data-dynamodb</artifactId>
        <version>${spring.data.dynamodb.version}</version>
    </dependency>

<!-- START DYNAMODB DEPENDENCIES -->
