<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <parent>
    <groupId>com.amido.stacks.modules</groupId>
    <artifactId>stacks-modules-parent</artifactId>
    <version>3.0.26-RELEASE</version>
  </parent>

  <groupId>com.amido.stacks.workloads</groupId>
  <artifactId>stacks-api</artifactId>
  <version>1.0.0</version>

  <name>stacks-api</name>
  <description>Demo project for Java</description>

  <properties>
    <java.version>1.7</java.version>
    {{#versionProperties}}
      {{{.}}}
    {{/versionProperties}}

    <!-- Set 'pact.broker.url' and 'pact.broker.token' -->
    <pact.broker.url/>
    <pact.broker.token/>
    <pact.api.name>JavaMenuAPI</pact.api.name>
    <pact.api.protocol>http</pact.api.protocol>
    <pact.api.host>localhost</pact.api.host>
    <pact.api.port>9000</pact.api.port>
  </properties>

  <dependencyManagement>
    <dependencies>
    {{> core/coreManagedDependencies}}

    {{#aws}}
        {{> aws/awsManagedDependencies}}
    {{/aws}}
    </dependencies>
  </dependencyManagement>


  <dependencies>
    {{> core/coreDependencies}}

    {{#aws}}
        {{> aws/awsDependencies}}
    {{/aws}}

    {{#azure}}
        {{> azure/azureDependencies}}
    {{/azure}}

    {{#dynamodb}}
        {{> dynamodb/dynamodbDependencies}}
    {{/dynamodb}}

    {{#cosmosdb}}
        {{> cosmosdb/cosmosdbDependencies}}
    {{/cosmosdb}}
  </dependencies>

  <build>
    <plugins>
    {{> core/corePlugins}}
    </plugins>
  </build>

  <profiles>
  </profiles>
</project>